* {
    padding: 0;
    margin: 0;
}

:root {
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
}

body {
    font-size: 18px;
    font-family: 'Epilogue', sans-serif;
    margin: 2em 5em;
}

nav {
    display: flex;
    justify-content: space-between;
    color: var(--medium-gray);
}

#navigation-div {
    display: flex;
}

#navigation-div > * {
    margin-right: 3em;
}

.dropdown-btn {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

#login {
    margin-right: 3em;
}

#register {
    padding: 0.7em 1.5em;
    border: 2px solid var(--medium-gray);
    border-radius: 15px;
}

#register:hover {
    border-color: var(--almost-black);
}

.hover:hover{
    color: var(--almost-black);
    cursor: pointer;
}

main {
    display: flex;
    justify-content: space-between;
    margin-top: 5em;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 2.5em;
}

#content > p {
    width: 55%;
    line-height: 30px;
    color: var(--medium-gray);
}

#header {
    font-size: 108px;
}

ul { list-style: none; }
li { display: inline; margin-right: 3em; }

#learn-more {
    padding: 1em 1.5em;
    background-color: var(--almost-black);
    border: 2px solid var(--almost-black);
    color: var(--almost-white);
    border-radius: 15px;
    width: fit-content;
    transition: 0.5s;
}

#learn-more:hover {
    background-color: var(--almost-white);
    color: var(--almost-black);
}

#hero-img {
    max-width: 100%;
    min-height: 100%;
}