* {
    padding: 0;
    margin: 0;
}

:root {
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
}

body {
    font-size: 18px;
    font-family: 'Epilogue', sans-serif;
    margin: 2em 5em;
}

nav {
    display: flex;
    justify-content: space-between;
    color: var(--medium-gray);
    width: 100%;
}

#features, #company { cursor: pointer; }

.hidden { display: none; }

#navigation-div { display: flex; }

#navigation-div > * { margin-right: 3em; }

.dropdown-btn { 
    cursor: pointer; 
}

.dropdown-list {
    position: relative;
}

.dropdown-menu {
    width: 150px;
    position: absolute;
    top: calc(100% + 0.5em);
    padding: 0.75em;
    border-radius: 10px;
    z-index: 1;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    cursor: default;
}

.dropdown-menu > div { margin: 1em 0.5em; }
.dropdown-menu > div > img { margin-right: 10px; }

a {
    text-decoration: none;
    color: inherit;
}

#login { margin-right: 3em; }

#register {
    padding: 0.7em 1.5em;
    border: 2px solid var(--medium-gray);
    border-radius: 15px;
}

#register:hover { border-color: var(--almost-black); }



main {
    display: flex;
    margin: 5em;
    justify-content: center;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#content > p {
    width: 55%;
    line-height: 30px;
    color: var(--medium-gray);
}

#header { font-size: 108px; }

ul { list-style: none; }
li { display: inline; margin-right: 3em; }

#learn-more {
    padding: 1em 1.5em;
    background-color: var(--almost-black);
    border: 2px solid var(--almost-black);
    color: var(--almost-white);
    border-radius: 15px;
    width: fit-content;
    transition: 0.5s;
}

#learn-more:hover {
    background-color: var(--almost-white);
    color: var(--almost-black);
}

#img-section {
    width: 650px;
    height: auto;
}

#hero-img {
    width: 100%;
    height: auto;
}