* {
    padding: 0;
    margin: 0;
}

:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 720px;
    background-color: var(--very-dark-blue);
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
}

main {
    border-radius: 30px;
    background-color: var(--dark-blue);
    width: 400px;
    height: 380px;
    padding: 50px;
}

#star {
    background-color: hsl(213, 19%, 24%);
    padding: 12px;
    border-radius: 50%;
}

h1 { color: var(--white); margin-top: 35px; }

#p-first {
    width: 90%;
    text-align: justify;
    color: var(--light-grey);
    margin-top: 15px;
}

#btn-div {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 64px;
    padding: 20px;
    border-radius: 50%;
    background-color: hsl(213, 19%, 24%);
    cursor: pointer;
    color: var(--light-grey);
    text-align: center;
    font-size: large;
    border: none;
    transition: 0.5s;
}

#submit {
    margin-top: 10%;
    padding: 15px 0 15px 0;
    box-shadow: 0 6px hsl(25, 69%, 49%);
    text-align: center;
    border-radius: 20px;
    border: none;
    color: var(--white);
    background-color: var(--orange);
    font-weight: 700;
    width: 100%;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.4s;
}

#submit:hover {
    color: var(--orange);
    background-color: var(--white);
    box-shadow: 0 6px #ccc8c8;
}

#submit:active {
    background-color: var(--white);
    box-shadow: 0 3px #ccc8c8;
    transform: translateY(4px);
}

#warning {
    color: red;
    text-align: center;
    margin: 15px 0 15px 0;
}

.hidden { display: none; }

.btn:hover {
    background-color: var(--orange);
    color: var(--white);
}

.btn:focus {
    background-color: var(--light-grey);
    color: var(--white);
}

#thankyou-img {
    display: block;
    margin: auto;
}

#rating {
    width: max-content;
    margin: auto;
    margin-top: 40px;
    justify-content: center;
    border-radius: 20px;
    background-color: hsl(213, 19%, 24%);
    padding: 10px 25px;
    color: var(--orange);
}

#thankyou-section > h1 {
    text-align: center;
    font-size: 32px;
}

#appreciate {
    width: 85%;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    color: var(--light-grey);
    line-height: 25px;
}

@media (max-width: 900px) {
    #p-first {
        width: 100%;
    }

    main {
        width: 375px;
        margin: 0 40px;
        padding: 50px 20px;
    }

    #btn-div {
        justify-content: space-around;
        width: 80%;
        margin: auto;
        margin-top: 40px;
    }
    
    .btn {
        width: auto;
        height: 50px;
        border-radius: 50%;
        margin-right: 5px;
    }
}